.column {
    column-count:3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
    column-rule: 1px solid gray;
    /*column-span: all;*/
    column-width: 100px;

}
